th, td{
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
}

.th1{
  border: 2px solid green
}
.blue{
  border:2px solid blue;
  width: 100%;
}
table{
  border: 2px solid blue;
  border-radius: 5px;
  width: 100%;

}